<app-person-generator>
</app-person-generator>

<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef> # </th>
		<td mat-cell *matCellDef="let element"> {{element.id}} </td>
	</ng-container>

	<ng-container matColumnDef="firstName">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
		<td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
	</ng-container>

	<ng-container matColumnDef="lastName">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
		<td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
	</ng-container>

	<ng-container matColumnDef="gender">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Sexe </th>
		<td mat-cell *matCellDef="let element"> {{element.gender | genderPromptPipe}} </td>
	</ng-container>

	<ng-container matColumnDef="email">
		<th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
		<td mat-cell *matCellDef="let element"> {{element.email}} </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[20, 50, 100]"></mat-paginator>
