<form [formGroup]="generatorForm" (ngSubmit)="generate()">
	<div class="title">
		<h3>Critères de génération :</h3>
		<div class="hint">
			Veuillez saisir le nombre de personnes à générer ainsi que le choix du genre.
		</div>
	</div>

	<mat-form-field class="count">
		<input matInput type="number" placeholder="Nombre" formControlName="count">
		<mat-error *ngIf="generatorForm.controls.count.hasError('min')">Impossible de saisir un nombre négatif</mat-error>
		<mat-error *ngIf="generatorForm.controls.count.hasError('max')">Génération maximum: 1000 personnes</mat-error>
	</mat-form-field>

	<div class="gender">
		<div class="checkbox">
			<mat-checkbox color="primary" [ngClass]="{'errorCheckbox': generatorForm.hasError('genderError')}" class="Homme" formControlName="male">Homme</mat-checkbox>
			<mat-checkbox color="primary" [ngClass]="{'errorCheckbox': generatorForm.hasError('genderError')}" class="Femme" formControlName="female">Femme</mat-checkbox>
		</div>
	</div>

	<div class="actions">
		<button mat-raised-button color="primary" type="submit" [disabled]="generatorForm.invalid">
			Générer
			<mat-icon>cached</mat-icon>
		</button>
	</div>
</form>
