form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 1.5rem;

	div, mat-form-field {
		flex: 1;
		align-items: center;

		display: flex;
		justify-content: center;
	}

	.title {
		flex-direction: column;

		div {
			font-style: italic;
			font-size: 0.7em;
		}
	}

	.count {
		flex: 1;
	}

	.gender {
		display: flex;
		flex-direction: column;
		justify-content: flex-start !important;

		& .checkbox {
			display: flex;
			justify-content: center;
		}

		mat-checkbox {
			width: 150px;
		}

		& .errorCheckbox {
			color: red;
		}
	}
}
