<div>
	<h3>Ce test technique a pour objectif de valider les compétences Angular du Candidat.</h3>
	<p>
		<button routerLink="/" mat-raised-button color="primary">
			<mat-icon>arrow_back</mat-icon>
			Retour
		</button>
	</p>
</div>
